.container_messages {
  height: 70%;
  border: black solid 1px;
}

.firstUser {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
}

.firstUser pre {
  margin: 0;
  padding: 5px;
  border: 1px solid aquamarine;
  background-color: aquamarine;
  border-radius: 3px;
}
.firstUser pre div{
  margin: 0;
  padding: 5px;
  font-size: 8px;
  color: grey;
  text-align: end;
}

.secondUser {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}

.secondUser pre {
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
}
.secondUser pre div{
  margin: 0;
  padding: 5px;
  font-size: 8px;
  color: grey;
  text-align: start;
}
.systemMessage {
  font-weight: bold;
  font-size: 25px;
  background-color: crimson;
  text-align: center;
  padding: 5px;
}